body {
  background-image: url(https://t3.ftcdn.net/jpg/03/02/04/06/240_F_302040655_IEH9RyDlu7LL8YCLjgL1IskhrpOlmlSv.jpg);
}

h1 {
  text-align: center;
  color: antiquewhite;
  font-size: 2rem;
}

#gamecontainer {
  flex-direction: column;
  display: flex;
  height: 70vh;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
padding: 5px;
  justify-content: center;
  display: flex;
  flex: 1;
  color: rgb(221, 17, 17);
  background-color: rgba(2, 2, 2, 0.84);
}

.cells {
  text-align: center;
  height: 70px;
  border-radius: 25px;
  min-width: 40px;
  max-width: 85px;
  flex: 1;
  border: 1px solid rgb(249, 247, 247);
  color: rgb(201, 7, 7);
  font-size: 2rem;
}

.chute {
  animation: chute 0.5s ease-in-out;
}

@keyframes chute {
  0% {
    transform: translateY(-950%);
  }
  100% {
    transform: translateY(0);
  }
}


#butOne {
     border-radius: 15px;
     font-size: 1.5rem;
     color:#5d7052;
   }
   #butOne:hover {
     background-color: aliceblue;
   }
   
   #butTwo {
     border-radius: 15px;
     font-size: 1.5rem;
     color: #5d7052;
   }

   .restart {
     border-radius: 15px;
     font-size: 1.5rem;
     color: #5d7052;
   }
   #butTwo:hover {
     background-color: aliceblue;
   }
   
   button {
     width: 20vw;
     height: 20vw;
     font-weight: bold;
     font-size: 50px;
     margin: 1vw;
     float: left;
     background-color: #e3cd8b;
   }

   .butt {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .hidden {
     display: none;
   }
